<%# This is the form for both submitting and editing articles/messages. %>
<div class="container">

  <div class="row justify-content-center">
    <div class="col-10">

      <%# -------------------------------------------------------------------------------- %>
      <%# Render errors form partial that checks for error messages. %>
      <%= render('shared/errors', item: @article) %>

      <%# -------------------------------------------------------------------------------- %>
      <%# Setting local to true means using standard http post instead of ajax. %>
      <%# To submit an edit, we need to PATCH to /articles/:id, and "model: @article" will do that. %>
      <%= form_with(model: @article, class: "shadow mb-1 p-3 bg-transparent rounded", local: true) do |f| %>

        <%# Title group. --------------------- %>
        <div class="form-group row shadow mb-3 rounded">
          <%= f.label :title, class: "col-2 col-form-label" %>

          <div class="col-12">
            <%= f.text_field :title, class: "form-control bg-dark text-light" %>
          </div>
        </div>

        <%# Description group. --------------------- %>
        <div class="form-group row shadow mb-3 rounded">
          <%= f.label :description, class: "col-2 col-form-label" %>

          <div class="col-12">
            <%= f.text_area :description, rows: 5, class: "form-control bg-dark text-light" %>
          </div>
        </div>

        <%# Button group. --------------------- %>
        <div class="form-group row">
          <div>
            <%# Coming from the edit button, we'll have a user attribute present. %>
            <% if @article.user %>
              <% submit_text = "Update" %>
            <%# Otherwise this is a brand new message. %>
            <% else %>
              <% submit_text = "Send it" %>
            <% end %>
            <%= f.submit(submit_text, class: "btn btn-success")%>
            <%= link_to('Cancel', session[:return_to], class: "btn btn-outline-secondary") %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

</div>
