<!-- https://guides.rubyonrails.org/form_helpers.html -->

<h1>Edit existing article.</h1>

<!-- Display error messages if submitted edit failed. -->
<!-- @article variable is part of ArticlesController class, grabbed during edit method. -->
<% if @article.errors.any? %>
  <h2>Unable to save article edits (make sure the following errors are fixed first then try again).</h2>

  <ul> <% @article.errors.full_messages.each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
    <% end %> </ul>

<% end %>

<!-- Setting local to true means using standard http post instead of ajax. -->
<!-- To submit an edit, we need to PATCH to /articles/:id, and "model: @article" will do that. -->
<%= form_with(model: @article, local: true) do |f| %>

  <p>
    <!-- Text input here will be saved as article title. -->
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <!-- Text input here will be saved as article description. -->
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <!-- Button to submit new article to db. -->
    <%= f.submit %>
  </p>
<% end %>
