<h1>Articles.</h1>


<p>
  <%= link_to('Create New Article', new_article_path, method: :get) %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <!-- Actions header should span 3 to cover Show, Edit and Delete links. -->
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
  <!-- Each article is going to make a new table row, and include each data (td). -->
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to('Show', article_path(article.id), method: :get) %> |</td>
    <td><%= link_to('Edit', edit_article_path(article.id), method: :get) %> |</td>
    <td>
      <%= link_to(
              'Delete',
              article_path(article.id),
              method: :delete,
              data: {confirm: "Are you sure you want to delete '#{article.title}'?"}
          )
      %>
    </td>
  </tr>
  <% end %>

  </tbody>

</table>

<p>
<%= link_to('Create New Article', new_article_path, method: :get) %>
