<%= javascript_pack_tag 'card_reveal' %>
<div id="page-content">

  <div class="row justify-content-center">

    <div class="col-8 mt-5">
      <div class="container">
        <h1><%= @article.title %></h1>

        <div class="card">

          <div class="card-header font-monospace">
            from <%= @article.user.username %>.
          </div>

          <div class="bg-gradient card-body shadow">

            <p class="card-text">
              <%# Simple Format keeps the formatting of the article (paragraphs, spacing, etc). %>
              <%= simple_format(@article.description) %>
            </p>

            <div class="font-monospace">
              <%= link_to("Edit", edit_article_path(@article), class: "btn btn-secondary") %>
              <%= link_to(
                    "Delete",
                    article_path(@article),
                    class: "btn btn-danger",
                    method: :delete,
                    data: {confirm: "Do you want to delete '#{@article.title}' ?"}
                  )
              %>
            </div>
          </div>

          <div class="card-footer text-muted font-monospace">
            <small>
              Posted <%= time_ago_in_words(@article.created_at) %> ago.

              <% if @article.updated_at != @article.created_at %>
                Edited <%=time_ago_in_words(@article.updated_at) %> ago.
              <% end %>
            </small>
          </div>

        </div>

        <%= link_to('[ Return To Messages ]', @article.user, method: :get, class: "btn-outline-secondary") %>
      </div>
    </div>
  </div>

</div>