<%# This is the form for both submitting and editing articles/messages. %>
<div class="container">

  <div class="row justify-content-center">
    <div class="col-10">

      <%# -------------------------------------------------------------------------------- %>
      <%# Render errors form partial that checks for error messages. %>
      <%= render('shared/errors', item: @user) %>

      <%# -------------------------------------------------------------------------------- %>
      <%# Setting local to true means using standard http post instead of ajax. %>
      <%# To submit an edit, we need to PATCH to /articles/:id, and "model: @article" will do that. %>
      <%= form_with(model: @user, class: "shadow mb-1 p-3 bg-transparent rounded", local: true) do |user| %>

        <%# Username. --------------------- %>
        <div class="form-group row shadow mb-3 rounded">
          <%= user.label :username, class: "col-2 col-form-label" %>

          <div class="col-12">
            <%= user.text_field :username, class: "form-control bg-dark text-light", placeholder: "CoolMonke1999" %>
          </div>
        </div>

        <%# Email. --------------------- %>
        <div class="form-group row shadow mb-3 rounded">
          <%= user.label :email, class: "col-2 col-form-label" %>

          <div class="col-12">
            <%= user.email_field :email, class: "form-control bg-dark text-light", placeholder: "Monkey.D.Luffy@KingOfPirates.com" %>
          </div>
        </div>

        <%# Password. --------------------- %>
        <div class="form-group row shadow mb-3 rounded">
          <%# This allows us to use the same form partial for both editing profiles and creating a new account. %>
          <%# We can swap the text based on if @user is a new record or not. %>
          <%= user.label(@user.new_record? ? "Password" : "New Password", class: "col-2 col-form-label") %>

          <div class="col-12">
            <%= user.password_field :password, class: "form-control bg-dark text-light", placeholder: "***" %>
          </div>
        </div>

        <%# Confirm password. --------------------- %>
        <div class="form-group row shadow mb-3 rounded">
          <%= user.label :confirm_password, class: "col-3 col-form-label" %>

          <div class="col-12">
            <%= user.password_field :password_confirmation, class: "form-control bg-dark text-light", placeholder: "***" %>
          </div>
        </div>

        <%# Buttons. --------------------- %>
        <div class="form-group row">
          <div>
            <%# Checking for new_record means we can use this same button for both profile edits and new signups. %>
            <% if @user.new_record? %>
              <%= user.submit("Signup", class: "btn btn-success") %>
              <%= link_to('Cancel', root_path, method: :get, class: "btn btn-outline-secondary") %>
            <% else %>
              <%= user.submit("Save Changes", class: "btn btn-success") %>
              <%= link_to('Cancel', @user, method: :get, class: "btn btn-outline-secondary") %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

</div>
