<%#  https://guides.rubyonrails.org/form_helpers.html %>

<div id="page-content">
  <%= javascript_pack_tag 'card_reveal' %>
  <h1 class="text-center" id="header-title-anim">Fellow Monke Lovers</h1>

  <% if @pagy.count > @max_pagy_items %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>

  <% @users.each do |user| %>
    <div class="row justify-content-center">
      <div class="col-8 mt-5">
        <div class="container">
          <div class="card">

            <%# User profile link. %>
            <div class="card-header font-monospace">
              <%= link_to(user.username, user_path(user), class: "user-profile-header-username") %>
            </div>

            <%# Main card body. ----------------------------------------------------------- %>
            <div class="bg-gradient card-body shadow">
              <%# Profile pic. %>
              <%# ------------ %>

              <%# Message count. %>
              <p class="card-text">
                <%= pluralize(user.articles.count, "message") %> to Monke.
              </p>

              <%# Buttons. %>
              <div class="font-monospace">
                <%= link_to("Message", new_article_path, class: "btn btn-success") %>
              </div>
            </div>

            <%# Timestamp footer. ----------------------------------------------------- %>
            <div class="card-footer text-muted font-monospace">
              <small>
                Joined <%= time_ago_in_words(user.created_at)%> ago.
              </small>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @pagy.count > @max_pagy_items %>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>