<%#  https://guides.rubyonrails.org/form_helpers.html %>
<%= javascript_pack_tag 'card_reveal' %>

<div id="page-content">
  <h1 class="text-center" id="header-title-anim">
    <span class="user-profile-header-prefix font-monospace">
      user ->
    </span>
    <span class="user-profile-header-username font-monospace">
      <%= @user.username %>
    </span>
  </h1>

  <div class="text-center mt-4">
    <% if logged_in? && (@user.username == current_user.username || current_user.admin?) %>
      <%= link_to("Edit profile", edit_user_path(@user), class: "btn btn-outline-warning") %>
      <%= link_to("Ban user",
                  @user,
                  method: :delete,
                  data: { confirm: "Are you sure you wish to ban #{@user.username}?"},
                  class: "btn btn-outline-danger") if current_user.admin? %>
    <% end %>
  </div>

  <% if @pagy.count < @max_pagy_items %>
    <%= render('articles/article') %>

  <% else %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <%= render('articles/article') %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>

</div>
