<%# Navigation Bar. %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <%= link_to("Monke Message", root_path, class: "navbar-brand", id: "logo") %>

    <%# Dynamically collapsable into single button when width is small (mobile for example). %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn-success" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Messages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to("My Messages", articles_path, class: 'dropdown-item') %></li>
            <li><%= link_to("Write To Monke", new_article_path, class: 'dropdown-item ') %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Monke
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to("Replies From Monke", monke_replies_path, class: 'dropdown-item') %></li>
            <li><%= link_to("Show Me Monke", monke_gallery_path, class: 'dropdown-item') %></li>
            <li><%= link_to("Monke Lovers", users_path, class: 'dropdown-item') %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to("Monke: What Gives?", monke_info_path, class: 'dropdown-item') %></li>
          </ul>
        </li>
        <li>
          <form class="d-flex justify-center">
            <input class="form-control me-2" type="search" placeholder="Find Message or Monke" aria-label="Search" id="navbar_search_form">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <nav class="navbar navbar-dark bg-dark">
        <form class="container-fluid justify-content-start">
          <%= link_to("Create Account", signup_path, class: 'btn btn-outline-success me-2') %>
          <button class="btn btn-sm btn-dark" type="button">Log In</button>
        </form>
      </nav>
    </div>
  </div>
</nav>
