<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--------------------------------------------------------------------------------------------->
    <style>
      #MonkeLoop {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
      }
      .wrapper {
        z-index: -2;
        position: absolute;
        width: 100%;
      }
      .gradient {
        background-image: linear-gradient(180deg, rgba(51, 51, 51, 1) 5%, rgba(51, 51, 51, 0.5));
        width: 100%;
        height: calc(100vh - 5px);
        min-height: 600px;
        object-fit: cover;
        position: relative;
        z-index: -1;
      }
      .navbar {
        z-index: 0;
      }
      .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: #212529;
          height: auto;
          color: white;
          text-align: left;
          z-index: 0;
      }
      .ruby_yields {
          z-index: 1;
      }
    </style>
  </head>

  <!----------------------------------------------------------------------------------------------->
  <body class="text-white bg-dark">

    <!-- Monke. -->
    <div class="wrapper">
      <div class="gradient"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="MonkeLoop">
        <source src="https://i.imgur.com/ZSRNw5H.mp4" type="video/mp4">
      </video>
    </div>

    <!-- Navigation Bar. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Monke Articles.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Articles</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pubis
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Show Me Pubis</a></li>
                <li><a class="dropdown-item" href="#">Make Own Pubis</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Pubis: What Gives?</a></li>
              </ul>
            </li>
            <li>
              <form class="d-flex justify-center">
                <input class="form-control me-2" type="search" placeholder="Find Pubis Near You" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </li>
          </ul>
          <nav class="navbar navbar-dark bg-dark">
            <form class="container-fluid justify-content-start">
              <button class="btn btn-outline-success me-2" type="button">Create Account</button>
              <button class="btn btn-sm btn-dark" type="button">Log In</button>
            </form>
          </nav>
        </div>
      </div>
    </nav>

    <!-- Footer. -->
    <div class="footer">
      <nav class="navbar navbar-dark bg-dark">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-dark btn-sm me-2" type="button">Contact</button>
        </form>
      </nav>
    </div>

    <!-- Dropdown animation -->
    <script>
      var dropdown = $('.dropdown');
      // Add slideDown animation to Bootstrap dropdown when expanding.
      dropdown.on('show.bs.dropdown', function() {
          $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
      });

      // Add slideUp animation to Bootstrap dropdown when collapsing.
      dropdown.on('hide.bs.dropdown', function() {
          $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
      });
    </script>

    <!-- Render _messages partial here. -->
    <div class="ruby_yields">
      <%= render 'layouts/messages' %>
      <!-- All our views are served through the yield line. -->
      <%= yield %>
    </div>
  </body>
</html>
